# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
MDK-ARM/STM32F429_APP/can.crf
MDK-ARM/STM32F429_APP/can.d
MDK-ARM/STM32F429_APP/can.o
MDK-ARM/STM32F429_APP/gpio.crf
MDK-ARM/STM32F429_APP/gpio.d
MDK-ARM/STM32F429_APP/gpio.o
MDK-ARM/STM32F429_APP/main.crf
MDK-ARM/STM32F429_APP/main.d
MDK-ARM/STM32F429_APP/main.o
MDK-ARM/STM32F429_APP/startup_stm32f429xx.d
MDK-ARM/STM32F429_APP/startup_stm32f429xx.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_can.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_can.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_can.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_cortex.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_cortex.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_cortex.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_dma_ex.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_dma_ex.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_dma_ex.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_dma.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_dma.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_dma.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_exti.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_exti.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_exti.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash_ex.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash_ex.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash_ex.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash_ramfunc.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash_ramfunc.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash_ramfunc.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_flash.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_gpio.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_gpio.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_gpio.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_msp.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_msp.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_msp.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_pwr_ex.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_pwr_ex.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_pwr_ex.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_pwr.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_pwr.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_pwr.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_rcc_ex.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_rcc_ex.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_rcc_ex.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_rcc.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_rcc.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_rcc.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_tim_ex.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_tim_ex.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_tim_ex.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_tim.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_tim.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_tim.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal_uart.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal_uart.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal_uart.o
MDK-ARM/STM32F429_APP/stm32f4xx_hal.crf
MDK-ARM/STM32F429_APP/stm32f4xx_hal.d
MDK-ARM/STM32F429_APP/stm32f4xx_hal.o
MDK-ARM/STM32F429_APP/stm32f4xx_it.crf
MDK-ARM/STM32F429_APP/stm32f4xx_it.d
MDK-ARM/STM32F429_APP/stm32f4xx_it.o
MDK-ARM/STM32F429_APP/STM32F429_APP_STM32F429_APP.dep
MDK-ARM/STM32F429_APP/STM32F429_APP.axf
MDK-ARM/STM32F429_APP/STM32F429_APP.build_log.htm
MDK-ARM/STM32F429_APP/STM32F429_APP.htm
MDK-ARM/STM32F429_APP/STM32F429_APP.lnp
MDK-ARM/STM32F429_APP/STM32F429_APP.map
MDK-ARM/STM32F429_APP/stmflash.crf
MDK-ARM/STM32F429_APP/stmflash.d
MDK-ARM/STM32F429_APP/stmflash.o
MDK-ARM/STM32F429_APP/system_stm32f4xx.crf
MDK-ARM/STM32F429_APP/system_stm32f4xx.d
MDK-ARM/STM32F429_APP/system_stm32f4xx.o
MDK-ARM/STM32F429_APP/usart.crf
MDK-ARM/STM32F429_APP/usart.d
MDK-ARM/STM32F429_APP/usart.o
MDK-ARM/startup_stm32f429xx.lst
MDK-ARM/STM32F429_APP.uvguix.39399
